# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Node.js
node_modules/

# Vite
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Uploads
uploads/

# Build
build/